In [1]:
import pandas as pd
import numpy as np
from yahoo_fin.stock_info import get_data, get_income_statement, get_earnings

In [2]:
get_data('BCRX')

              open   high   low  close  adjclose   volume ticker
1994-03-04  6.2500  6.500  6.00  6.500     6.500   415500   BCRX
1994-03-07  6.6250  6.625  6.25  6.250     6.250   218400   BCRX
1994-03-08  6.5000  6.625  6.25  6.500     6.500   155300   BCRX
1994-03-09  6.5625  6.625  6.50  6.625     6.625    54300   BCRX
1994-03-10  6.7500  6.750  6.50  6.625     6.625    36900   BCRX
...            ...    ...   ...    ...       ...      ...    ...
2021-01-07  7.7600  7.890  7.53  7.740     7.740  3846400   BCRX
2021-01-08  7.8300  8.000  7.58  7.740     7.740  3972900   BCRX
2021-01-11  7.7000  7.750  7.45  7.510     7.510  3936300   BCRX
2021-01-12  7.6500  8.250  7.55  8.040     8.040  4983900   BCRX
2021-01-13  8.0600  8.410  7.90  8.150     8.150  4620200   BCRX

[6764 rows x 7 columns]

In [3]:
get_income_statement('msft', yearly = True)

endDate,2020-06-30,2019-06-30,2018-06-30,2017-06-30
Breakdown,,,,
researchDevelopment,19269000000,16876000000,14726000000,13037000000
effectOfAccountingCharges,None,None,None,None
incomeBeforeTax,53036000000,43688000000,36474000000,29901000000
minorityInterest,None,None,None,None
netIncome,44281000000,39240000000,16571000000,25489000000
sellingGeneralAdministrative,24709000000,23098000000,22223000000,19942000000
grossProfit,96937000000,82933000000,72007000000,62310000000
ebit,52959000000,42959000000,35058000000,29331000000
operatingIncome,52959000000,42959000000,35058000000,29331000000
otherOperatingExpenses,None,None,None,None
interestExpense,-2591000000,-2686000000,-2733000000,-2222000000
extraordinaryItems,None,None,None,None
nonRecurring,None,None,None,None
otherItems,None,None,None,None
incomeTaxExpense,8755000000,4448000000,19903000000,4412000000
totalRevenue,143015000000,125843000000,110360000000,96571000000
totalOperatingExpenses,90056000000,82884000000,75302000000,67240000000
costOfRevenue,46078000000,42910000000,38353000000,34261000000
totalOtherIncomeExpenseNet,77000000,729000000,1416000000,570000000
discontinuedOperations,None,None,None,None
netIncomeFromContinuingOps,44281000000,39240000000,16571000000,25489000000
netIncomeApplicableToCommonShares,44281000000,39240000000,16571000000,25489000000

In [4]:
get_earnings('BA')

{'quarterly_results':      date  actual  estimate
 0  4Q2019   -2.33      1.47
 1  1Q2020   -1.70     -1.61
 2  2Q2020   -4.79     -2.54
 3  3Q2020   -1.39     -2.52,
 'yearly_revenue_earnings':    date       revenue     earnings
 0  2016   93496000000   5034000000
 1  2017   94005000000   8458000000
 2  2018  101127000000  10460000000
 3  2019   76559000000   -636000000,
 'quarterly_revenue_earnings':      date      revenue    earnings
 0  4Q2019  17911000000 -1010000000
 1  1Q2020  16908000000  -628000000
 2  2Q2020  11807000000 -2376000000
 3  3Q2020  14139000000  -449000000}

#### original value investing bible: Security Analysis (Graham)

## Notes

- look for stocks that are at 2/3 or less of their intrinsic value
- compare P/E to sector P/E, relative P/E to itself, 
- earnings value
- earnings yield - inverse of EPS (%) - return you'd receive if all earnings were paid out in dividend instead of reinvested by the company
- inflation and growth of economy are both historically 3% / yr > earnings should grow 6% a year
- consider trailing, not forward, earnings. rely on audited reports of earnings, not finnicky estimates
- best measure of how much money a company is earning: earnings before interest expense and income tax
- interest expense is a function of how much debt a company has
- EBITDA shows how much cash a company is producing

## Definitions
- cash flow = operating earnings = earnings + non-cash expenses (amortization + depreciation)
- amortization: paying off a debt over time in equal installments. Part of each payment goes toward the loan principal, and part goes toward interest.
- free cash flow = cash flow - capital expenditures needed to keep the lights on
- EBITDA = earnings before interest, taxes, depreciation, and amoritization

## Analysis opportunities
- Mean, median P/E by industry